* {
	background-color: darkgray;
}

img.president {
	border: 3px solid black;
}

input[type=text] {
    padding:5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border:2px solid blue; 
    color: crimson;
    font-weight: bolder;
     
}

em:hover {
    color: crimson;
}

strong:hover{
	color: blue;
}

.nextButton {
	/*  display: block;
  margin-left: auto;
  margin-right: auto; */
	position: absolute;
	bottom: 14%;
	right: 15%;
}

.backButton {
	/*  display: block;
  margin-left: auto;
  margin-right: auto; */
	position: absolute;
	bottom: 14%;
	left: 15%;
}

button.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.zap {
	width: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p, div {
	color: black;
	font-weight: bolder;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}